
<h1>Statistics</h1>

<div class="stat-info customers"><h2>total customers</h2><div class="info">123</div></div>

<div class="stat-info orders"><h2>total orders</h2><div class="info">1234</div></div>

<div class="stat-info people"><h2>people online</h2> <div class="info">12345</div></div>



