@model IEnumerable<Seo>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AdminSEO</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "CreateEdit", new {type ="SEO" }, new { @class = "btn" })
    </p>
    <table class="table">
        <thead>
            <tr class="title">
                <th>Название</th>
                <th class="text-center">Действия</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>

                <td> @Html.ActionLink(item.UrlKeyWord, "CreateEdit", new { Id = item.Seoid, type = item.GetType().BaseType.Name })</td>
                <td class="text-center">
                    @Html.ActionLink("Remove", "Remove", new { Id = item.Seoid, type = item.GetType().BaseType.Name })
                </td>
            </tr>
            }
        </tbody>
    </table>
</body>
</html>
