@model IEnumerable<Article>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Articles</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "CreateEdit", "Admin", new { type = "Article" }, new { @class = "btn" })
    </p>
    <table class="table">
        <thead>
            <tr class="title">
                <th>Название</th>
                <th class="text-center">Действия</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td> @Html.ActionLink(item.Title, "CreateEdit","Admin", new { Id = item.ArticleId, type = "Article" })</td>
                <td class="text-center">
                    @Html.ActionLink("Remove", "Remove", "Admin", new { Id = item.ArticleId, type = "Article" })
                </td>
            </tr>
            }
        </tbody>
    </table>
</body>
</html>
