<div id="common-information" class="container about-us">
    <div class="row">
        <h1>About us</h1>
        <p class="MsoNormal" style="text-align: center; "><span style="white-space: pre-wrap; font-size: 30px;line-height:41px;">Our professional-level players are here to help new players get familiar with the game as well as for advanced players who want to get even more experienced</span></p>
        @*@Html.Action("SiteBlock", "SiteBlock", new { title = "About us" })*@
    </div>
</div>
