@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v26/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0C4n.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v26/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsgH1y4n.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
a {
  color: #6D94C4;
}
a:hover {
  color: #91B9EF;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #6A7687;
  font-style: normal;
  font-weight: 600;
}
h1 {
  font-size: 30px;
  margin-bottom: 30px;
  line-height: 54px;
}
h2 {
  font-size: 28px;
}
h3 {
  font-size: 26px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 22px;
}
h6 {
  font-size: 20px;
}
img {
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
}
label {
  width: 26%;
  text-align: right;
  font-weight: bold;
  padding-right: 40px;
  display: inline-block;
  vertical-align: middle;
}
input[type=text],
input[type=number],
input[type=password],
select,
textarea {
  border-radius: 25px;
  padding: 9px 20px;
  width: 70%;
  border: 0 none;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  outline: none;
  vertical-align: middle;
  background: #161828;
  border: 1px solid #6A7687;
  color: #6A7687;
  font-size: 16px;
  line-height: 22px;
}
input[type=text]:hover,
input[type=number]:hover,
input[type=password]:hover,
select:hover,
textarea:hover {
  outline: none;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
input[type=text]:active,
input[type=number]:active,
input[type=password]:active,
select:active,
textarea:active,
input[type=text]:focus,
input[type=number]:focus,
input[type=password]:focus,
select:focus,
textarea:focus {
  outline: none;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3);
}
textarea {
  border-radius: 0;
}
button {
  cursor: pointer;
}
address {
  font-style: normal;
}
aside p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
nav ul,
nav ol {
  list-style: none;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-y: scroll;
}
pre {
  display: none;
}
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}
.clear {
  clear: both;
}
body {
  color: #eeeeee;
  background: #10111B;
}
.cover {
  margin: 0 auto;
  position: relative;
  min-height: 100%;
  padding-bottom: 60px;
}
.left-column {
  width: 235px;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0px;
  left: 0;
  bottom: 0;
  z-index: 10;
  background: #161828;
  color: #6A7687;
  border-right: 1px solid #1A233B;
  transition: all 0.5s ease;
}
.left-column .column-in ul {
  margin-top: 80px;
}
.left-column .column-in ul li {
  display: block;
}
.left-column .column-in ul li a {
  display: block;
  text-decoration: none;
  padding: 10px 30px;
  color: #eeeeee;
  transition: all 0.3s ease;
}
.left-column .column-in ul li a:hover {
  background: #6D94C4;
  color: #10111B;
}
.container {
  margin-left: 265px;
}
.content-block {
  margin-top: 80px;
}
.head-block {
  padding: 20px 10px;
}
.logo-head {
  padding: 20px 10px;
  text-align: center;
}
.logo-head img {
  width: 150px;
}