@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-U1Ug.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UNirk-VQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
a {
  color: #6D94C4;
}
a:hover {
  color: #91B9EF;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #6A7687;
  font-style: normal;
  font-weight: 600;
}
h1 {
  font-size: 30px;
  margin-bottom: 30px;
  line-height: 54px;
}
h2 {
  font-size: 28px;
}
h3 {
  font-size: 26px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 22px;
}
h6 {
  font-size: 20px;
}
img {
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
}
label {
  width: 26%;
  text-align: right;
  font-weight: bold;
  padding-right: 40px;
  display: inline-block;
  vertical-align: middle;
}
input[type=text],
input[type=number],
input[type=password],
select,
textarea {
  border-radius: 25px;
  padding: 9px 20px;
  width: 70%;
  border: 0 none;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  outline: none;
  vertical-align: middle;
  background: #161828;
  border: 1px solid #6A7687;
  color: #6A7687;
  font-size: 16px;
  line-height: 22px;
}
input[type=text]:hover,
input[type=number]:hover,
input[type=password]:hover,
select:hover,
textarea:hover {
  outline: none;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
input[type=text]:active,
input[type=number]:active,
input[type=password]:active,
select:active,
textarea:active,
input[type=text]:focus,
input[type=number]:focus,
input[type=password]:focus,
select:focus,
textarea:focus {
  outline: none;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3);
}
textarea {
  border-radius: 0;
}
button {
  cursor: pointer;
}
address {
  font-style: normal;
}
aside p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
nav ul,
nav ol {
  list-style: none;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-y: scroll;
}
pre {
  display: none;
}
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}
.clear {
  clear: both;
}
body {
  color: #6A7687;
  background: #10111B;
}
.content-block {
  padding: 28px 25px 20px;
}
.panel-footer {
  margin-top: 40px;
}
.panel-heading .save-btns,
.panel-footer .save-btns {
  float: right;
}
.panel-heading .save-btns .btn,
.panel-footer .save-btns .btn {
  margin: 0 5px;
}
.panel-heading h1,
.panel-footer h1,
.panel-heading h2,
.panel-footer h2,
.panel-heading h3,
.panel-footer h3 {
  display: inline-block;
}
.panel-heading:after,
.panel-footer:after {
  content: '';
  clear: both;
  display: block;
}
.panel-foote {
  margin-top: 30px;
}
.head-block {
  padding: 12px 25px;
  text-align: right;
  border-bottom: 1px solid #1A233B;
}
.head-block .site-link {
  display: inline-block;
}
.head-block .login-user {
  display: inline-block;
  padding-right: 15px;
}
.head-block .login-user span {
  padding-left: 15px;
}
.head-block .login-user span:before {
  content: "\f08b";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  padding-right: 5px;
  color: #6A7687;
  font-size: 25px;
  position: relative;
  top: 3px;
}
.head-block .login-user:before {
  content: "\f007";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  padding-right: 5px;
  color: #6A7687;
  font-size: 25px;
  position: relative;
  top: 3px;
}
@keyframes bounceIco {
  from {
    transform: translateY(0px) rotate(180deg);
  }
  to {
    transform: translateY(-15px) rotate(180deg);
  }
}
@-webkit-keyframes bounceIco {
  from {
    transform: translateY(0px) rotate(180deg);
  }
  to {
    transform: translateY(-15px) rotate(180deg);
  }
}
@keyframes bounceIcoMin {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounceIcoMin {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}
.input-block .cke {
  width: 70%;
  display: inline-block;
  vertical-align: top;
}
.cover {
  margin: 0 auto;
  position: relative;
  min-height: 100%;
  padding-bottom: 60px;
}
.left-column {
  width: 235px;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0px;
  left: 0;
  bottom: 0;
  z-index: 10;
  background: #161828;
  color: #6A7687;
  border-right: 1px solid #1A233B;
  transition: all 0.5s ease;
}
.left-column.collapsed {
  width: 48px;
}
.left-column.collapsed .title span.nav-ico:hover:after {
  animation: bounceIcoMin 0.8s infinite alternate;
  -webkit-animation: bounceIcoMin 0.8s infinite alternate;
}
.left-column.collapsed .title span.nav-ico:after {
  transform: rotate(0);
}
.left-column .title {
  padding: 15px 0 15px 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 35px;
  position: relative;
  color: #6A7687;
  width: 235px;
}
.left-column .title span.nav-ico {
  display: inline-block;
  vertical-align: top;
  position: relative;
  transition: all 0.5s ease;
  margin-right: 6px;
  cursor: pointer;
}
.left-column .title span.nav-ico:hover:after {
  animation: bounceIco 0.8s infinite alternate;
  -webkit-animation: bounceIco 0.8s infinite alternate;
}
.left-column .title span.nav-ico:before {
  content: "\f00b";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}
.left-column .title span.nav-ico:after {
  position: absolute;
  right: -7px;
  bottom: 0;
  content: "\f0a9";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  background: #161828;
  border-radius: 100%;
  font-size: 21px;
  height: 21px;
  width: 19px;
  line-height: 21px;
  text-decoration: inherit;
  transform: rotate(180deg);
  transition: all 0.5s ease;
}
.left-column ul {
  display: block;
  width: 235px;
}
.left-column ul .menu-ico {
  width: 30px;
  height: 46px;
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.left-column ul .menu-ico:before {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 43px;
  text-decoration: inherit;
  color: #6A7687;
}
.left-column ul .menu-ico.ico1:before {
  content: '\f0e4';
}
.left-column ul .menu-ico.ico2:before {
  content: '\f07a';
}
.left-column ul .menu-ico.ico3:before {
  content: '\f1de';
}
.left-column ul .menu-ico.ico4:before {
  content: '\f212';
}
.left-column ul .menu-ico.ico4-1:before {
  content: '\f11b';
}
.left-column ul .menu-ico.ico4-2:before {
  content: '\f016';
}
.left-column ul .menu-ico.ico4-3:before {
  content: '\f0c5';
}
.left-column ul .menu-ico.ico5:before {
  content: '\f16b';
}
.left-column ul .menu-ico.ico6:before {
  content: '\f002';
}
.left-column ul .menu-ico.ico6:after {
  content: 'S';
  position: absolute;
  right: 0;
  left: 4px;
  top: 8px;
  font-size: 15px;
  font-weight: bold;
}
.left-column ul .menu-ico.ico7:before {
  content: '\f02c';
}
.left-column ul .menu-ico.ico8:before {
  content: '\f0f6';
}
.left-column ul .menu-ico.ico9:before {
  content: '\f007';
}
.left-column ul .menu-ico.ico10:before {
  content: '\f005';
}
.left-column ul .menu-ico.ico11:before {
  content: '\f0c0';
}
.left-column ul .menu-ico.ico12:before {
  content: '\f0b1';
}
.left-column ul .menu-ico.ico13:before {
  content: '\f044';
}
.left-column ul .text-menu {
  display: block;
}
.left-column ul li {
  display: block;
  position: relative;
  transition: all 0.3s ease;
  border-bottom: 1px solid #1A233B;
}
.left-column ul li.dropdown {
  cursor: pointer;
}
.left-column ul li.dropdown .text-menu {
  position: relative;
}
.left-column ul li.dropdown .text-menu:after {
  content: '\f054';
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -8px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  font-size: 16px;
  line-height: 16px;
}
.left-column ul li.dropdown .dropdown-menu {
  transition: all 0.3s ease;
}
.left-column ul li.dropdown .dropdown-menu .menu-ico {
  margin-left: 17px;
}
.left-column ul li.dropdown .dropdown-menu li .text-menu a {
  padding-left: 63px;
}
.left-column ul li.dropdown .dropdown-menu li .text-menu:after {
  content: '';
}
.left-column ul li.dropdown .dropdown-menu li a:before {
  content: '\f101';
  position: absolute;
  left: 47px;
  top: 15px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  font-size: 14px;
  line-height: 14px;
}
.left-column ul li:first-child {
  border-top: 1px solid #1A233B;
}
.left-column ul li:before {
  transition: all 0.3s ease;
  content: '';
  position: absolute;
  top: 1px;
  bottom: 0;
  left: 0;
  right: 100%;
  background: #10111B;
  filter: blur(1px);
}
.left-column ul li:hover:before {
  right: 0;
}
.left-column ul li.active {
  background: #10111B;
  border: 0 none;
}
.left-column ul li.active a {
  color: #6A7687;
}
.left-column ul li a {
  margin-top: -1px;
  position: relative;
  display: block;
  padding: 8px 10px 8px 48px;
  text-decoration: none;
  transition: all 0.5s ease;
  font-size: 20px;
  color: #6A7687;
  min-height: 46px;
}
.left-column ul li a:hover,
.left-column ul li a:active {
  text-decoration: none;
  color: #6A7687;
}
.left-column .dropdown-menu {
  display: none;
  background: #161828;
  border: 0 none;
  border-radius: 0;
  position: relative;
  float: none;
  padding: 0;
  margin: 0;
}
.left-column .dropdown-menu li {
  border: 0 none;
}
.left-column .dropdown-menu li a {
  font-size: 17px;
  padding: 14px 10px 15px 50px;
  margin: 0;
  line-height: 17px;
  min-height: auto;
}
.left-column a {
  color: #6A7687;
}
.btn,
button,
input[type="button"],
input[type="submit"] {
  color: #6D94C4;
  display: inline-block;
  padding: 12px 30px;
  text-align: center;
  border-radius: 25px;
  box-shadow: none;
  transition: all 0.4s ease;
  background: #1A233B;
  border: 1px solid #6D94C4;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}
.btn:hover,
button:hover,
input[type="button"]:hover,
input[type="submit"]:hover {
  border-color: #91B9EF;
  color: #91B9EF;
}
.content {
  position: relative;
  left: 0px;
  margin-left: 235px;
  margin-right: 0;
  transition: all 0.3s;
  outline: none !important;
}
.content.content-collapsed {
  margin-left: 48px;
}
.stat-info {
  display: inline-block;
  width: 30%;
  margin-right: 20px;
  vertical-align: top;
  background: #6A7687;
  color: #10111B;
  height: 300px;
}
.stat-info h2 {
  color: #10111B;
  padding: 15px 20px;
  border-bottom: 1px solid #10111B;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}
.stat-info .info {
  padding: 15px 20px;
  text-align: center;
}
.table {
  border: 0 none;
}
.table th,
.table td,
.table tr,
.table tbody,
.table thead {
  border: 0 none;
}
.table thead {
  background: #161828;
  color: #6A7687;
}
.table tbody tr {
  position: relative;
  box-shadow: none;
}
.table .title {
  background: #161828;
  box-shadow: none;
}
.table .title th {
  padding: 17px 15px 19px;
  border: 1px solid #6A7687;
}
.table td {
  position: relative;
  padding: 15px;
  vertical-align: middle;
  border: 1px solid #6A7687;
}
.panel-body {
  margin: 30px 0;
}
.tabs {
  position: relative;
}
.tabs .tab-title {
  display: inline-block;
  padding: 10px 40px;
  border: 1px solid #6A7687;
  border-radius: 25px 25px 0 0;
  position: relative;
  margin-bottom: -1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: #161828;
}
.tabs .tab-title.active-title {
  border-bottom: 0 none;
  background: #10111B;
}
.tabs .tab-title.active-title:after {
  content: '';
  bottom: -2px;
  left: 0;
  right: 0;
  height: 3px;
  background: #10111B;
  position: absolute;
}
.tabs-desc {
  border: 1px solid #6A7687;
  padding: 20px;
  border-radius: 0 25px 25px 25px;
}
.tabs-desc > div {
  transition: all 0.3s ease;
  display: none;
}
.tabs-desc > div.active-tab {
  display: block;
}
.tabs-desc .description-block {
  margin-bottom: 20px;
  padding-bottom: 30px;
  position: relative;
}
.tabs-desc .description-block:last-child:after {
  opacity: 0;
}
.tabs-desc .description-block:after {
  content: '';
  position: absolute;
  left: -20px;
  right: -20px;
  bottom: 0;
  opacity: 0.3;
  height: 1px;
  background: #6A7687;
}
.input-block {
  padding: 15px 0;
  position: relative;
}
.input-block:last-child:after {
  opacity: 0;
}
.input-block:after {
  content: '';
  position: absolute;
  left: -20px;
  right: -20px;
  bottom: 0;
  height: 1px;
  opacity: 0.3;
  background: #6A7687;
}
.imageBlock .upload-btn {
  padding: 12px 50px;
  width: auto;
}
.imageBlock .imgPrewIn {
  border: 1px solid #6D94C4;
  display: inline-block;
  max-width: 50%;
  position: relative;
  height: 100px;
  margin: 10px 0;
}
.imageBlock img {
  max-width: 100%;
  max-height: 100%;
}
.bootstrap-select .dropdown-menu li.disabled {
  opacity: 0.3;
}
.panel-body .dropdown.bootstrap-select,
.options-body .dropdown.bootstrap-select,
.opt-body .dropdown.bootstrap-select,
.newOptions .dropdown.bootstrap-select {
  width: 70% !important;
}
.panel-body .dropdown.bootstrap-select .no-results,
.options-body .dropdown.bootstrap-select .no-results,
.opt-body .dropdown.bootstrap-select .no-results,
.newOptions .dropdown.bootstrap-select .no-results {
  color: #6A7687;
  background: #161828;
}
.panel-body .dropdown.bootstrap-select button,
.options-body .dropdown.bootstrap-select button,
.opt-body .dropdown.bootstrap-select button,
.newOptions .dropdown.bootstrap-select button,
.panel-body .dropdown.bootstrap-select .btn,
.options-body .dropdown.bootstrap-select .btn,
.opt-body .dropdown.bootstrap-select .btn,
.newOptions .dropdown.bootstrap-select .btn {
  background: #161828;
  outline: none;
  border-color: #6A7687;
  color: #6A7687;
  box-shadow: none;
}
.panel-body .dropdown.bootstrap-select button:hover:focus,
.options-body .dropdown.bootstrap-select button:hover:focus,
.opt-body .dropdown.bootstrap-select button:hover:focus,
.newOptions .dropdown.bootstrap-select button:hover:focus,
.panel-body .dropdown.bootstrap-select .btn:hover:focus,
.options-body .dropdown.bootstrap-select .btn:hover:focus,
.opt-body .dropdown.bootstrap-select .btn:hover:focus,
.newOptions .dropdown.bootstrap-select .btn:hover:focus {
  outline: none !important;
  background: #161828;
  box-shadow: none;
}
.panel-body .dropdown.bootstrap-select button:hover,
.options-body .dropdown.bootstrap-select button:hover,
.opt-body .dropdown.bootstrap-select button:hover,
.newOptions .dropdown.bootstrap-select button:hover,
.panel-body .dropdown.bootstrap-select .btn:hover,
.options-body .dropdown.bootstrap-select .btn:hover,
.opt-body .dropdown.bootstrap-select .btn:hover,
.newOptions .dropdown.bootstrap-select .btn:hover,
.panel-body .dropdown.bootstrap-select button:active,
.options-body .dropdown.bootstrap-select button:active,
.opt-body .dropdown.bootstrap-select button:active,
.newOptions .dropdown.bootstrap-select button:active,
.panel-body .dropdown.bootstrap-select .btn:active,
.options-body .dropdown.bootstrap-select .btn:active,
.opt-body .dropdown.bootstrap-select .btn:active,
.newOptions .dropdown.bootstrap-select .btn:active,
.panel-body .dropdown.bootstrap-select button:focus,
.options-body .dropdown.bootstrap-select button:focus,
.opt-body .dropdown.bootstrap-select button:focus,
.newOptions .dropdown.bootstrap-select button:focus,
.panel-body .dropdown.bootstrap-select .btn:focus,
.options-body .dropdown.bootstrap-select .btn:focus,
.opt-body .dropdown.bootstrap-select .btn:focus,
.newOptions .dropdown.bootstrap-select .btn:focus {
  outline: none !important;
  background: #161828;
  box-shadow: none;
}
.panel-body .dropdown.bootstrap-select .dropdown-menu,
.options-body .dropdown.bootstrap-select .dropdown-menu,
.opt-body .dropdown.bootstrap-select .dropdown-menu,
.newOptions .dropdown.bootstrap-select .dropdown-menu {
  margin-top: -1px;
  margin-bottom: -1px;
  border-radius: 0 0 25px 25px;
  border-top: 0 none;
  border-color: #6A7687;
  background: #161828;
  position: relative;
  right: -1px;
}
.panel-body .dropdown.bootstrap-select .dropdown-menu .bs-searchbox .form-control,
.options-body .dropdown.bootstrap-select .dropdown-menu .bs-searchbox .form-control,
.opt-body .dropdown.bootstrap-select .dropdown-menu .bs-searchbox .form-control,
.newOptions .dropdown.bootstrap-select .dropdown-menu .bs-searchbox .form-control {
  border-color: #6A7687;
  background: #161828;
}
.panel-body .dropdown.bootstrap-select .dropdown-menu .dropdown-item,
.options-body .dropdown.bootstrap-select .dropdown-menu .dropdown-item,
.opt-body .dropdown.bootstrap-select .dropdown-menu .dropdown-item,
.newOptions .dropdown.bootstrap-select .dropdown-menu .dropdown-item {
  color: #6A7687;
  padding: 6px;
}
.panel-body .dropdown.bootstrap-select .dropdown-menu .dropdown-item:hover,
.options-body .dropdown.bootstrap-select .dropdown-menu .dropdown-item:hover,
.opt-body .dropdown.bootstrap-select .dropdown-menu .dropdown-item:hover,
.newOptions .dropdown.bootstrap-select .dropdown-menu .dropdown-item:hover,
.panel-body .dropdown.bootstrap-select .dropdown-menu .dropdown-item.active,
.options-body .dropdown.bootstrap-select .dropdown-menu .dropdown-item.active,
.opt-body .dropdown.bootstrap-select .dropdown-menu .dropdown-item.active,
.newOptions .dropdown.bootstrap-select .dropdown-menu .dropdown-item.active,
.panel-body .dropdown.bootstrap-select .dropdown-menu .dropdown-item:active,
.options-body .dropdown.bootstrap-select .dropdown-menu .dropdown-item:active,
.opt-body .dropdown.bootstrap-select .dropdown-menu .dropdown-item:active,
.newOptions .dropdown.bootstrap-select .dropdown-menu .dropdown-item:active {
  background: #1A233B;
  color: #6A7687;
}
.panel-body .dropdown.bootstrap-select.show .dropdown-toggle:after,
.options-body .dropdown.bootstrap-select.show .dropdown-toggle:after,
.opt-body .dropdown.bootstrap-select.show .dropdown-toggle:after,
.newOptions .dropdown.bootstrap-select.show .dropdown-toggle:after {
  transform: rotate(270deg);
}
.panel-body .dropdown.bootstrap-select.show button,
.options-body .dropdown.bootstrap-select.show button,
.opt-body .dropdown.bootstrap-select.show button,
.newOptions .dropdown.bootstrap-select.show button {
  border-radius: 25px 25px 0 0;
}
.panel-body .dropdown.bootstrap-select.show.dropup button,
.options-body .dropdown.bootstrap-select.show.dropup button,
.opt-body .dropdown.bootstrap-select.show.dropup button,
.newOptions .dropdown.bootstrap-select.show.dropup button {
  border-radius: 0 0 25px 25px;
}
.panel-body .dropdown.bootstrap-select.show.dropup .dropdown-menu,
.options-body .dropdown.bootstrap-select.show.dropup .dropdown-menu,
.opt-body .dropdown.bootstrap-select.show.dropup .dropdown-menu,
.newOptions .dropdown.bootstrap-select.show.dropup .dropdown-menu {
  border-radius: 25px 25px 0 0;
}
.panel-body .dropdown.bootstrap-select .dropdown-toggle:after,
.options-body .dropdown.bootstrap-select .dropdown-toggle:after,
.opt-body .dropdown.bootstrap-select .dropdown-toggle:after,
.newOptions .dropdown.bootstrap-select .dropdown-toggle:after {
  transition: all 0.3s ease;
  border: 0 none;
  content: '\f054';
  transform: rotate(90deg);
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  font-size: 16px;
  color: #6A7687;
}
.logo-head {
  float: left;
  text-align: left;
}
#OptionBlock input {
  margin: 15px 0;
}
#OptionBlock .param {
  padding: 20px 0;
  position: relative;
}
#OptionBlock .param:before {
  height: 1px;
  opacity: 0.3;
  background: #6A7687;
  content: '';
  position: absolute;
  left: -20px;
  right: -20px;
  top: -1px;
}
#OptionBlock .param:after {
  content: '';
  position: absolute;
  left: -20px;
  right: -20px;
  bottom: 0;
  height: 1px;
  opacity: 0.3;
  background: #6A7687;
}
.param-list {
  position: relative;
  width: 100%;
}
.param-list .param-titles {
  position: relative;
  width: 100%;
}
.param-list .param-titles:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  opacity: 0.3;
  background: #131313;
}
.param-list .param-titles > div {
  font-weight: bold;
  text-align: center;
  display: inline-block;
  width: 19%;
  vertical-align: top;
  padding: 20px 10px 0;
  box-sizing: border-box;
}
.param-list .param-titles > div:nth-child(2) {
  width: 44%;
}
.param-list .param-titles > div:nth-child(3) {
  width: 8%;
}
.param-list .param-titles > div:nth-child(4) {
  width: 6%;
}
.param-list .param-fields {
  position: relative;
  width: 100%;
}
.param-list .param-fields:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  opacity: 0.3;
  background: #131313;
}
.param-list .param-fields > div {
  font-weight: bold;
  text-align: center;
  display: inline-block;
  width: 19%;
  vertical-align: top;
  padding: 20px 10px;
  box-sizing: border-box;
  position: relative;
}
.param-list .param-fields > div:nth-child(3) {
  width: 44%;
}
.param-list .param-fields > div:nth-child(4) {
  width: 8%;
}
.param-list .param-fields > div:nth-child(5) {
  width: 6%;
}
.param-list .param-fields > div:last-child {
  width: 34px;
  height: 85px;
  position: absolute;
}
.param-list .param-fields > div:last-child .remove-option,
.param-list .param-fields > div:last-child .remove-param {
  position: absolute;
  right: 0;
  left: 0;
  top: 27px;
  height: 34px;
  cursor: pointer;
  color: #6A7687;
  text-align: center;
}
.param-list .param-fields > div:last-child .remove-option:before,
.param-list .param-fields > div:last-child .remove-param:before {
  content: '\f00d';
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  text-decoration: inherit;
}
.remove-option,
.remove-htmlbox {
  display: inline-block;
  margin-left: 10px;
  height: 34px;
  width: 34px;
  cursor: pointer;
  color: #6A7687;
  position: relative;
  text-align: center;
  font-size: 0;
}
.remove-option:before,
.remove-htmlbox:before {
  content: '\f00d';
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  text-decoration: inherit;
}
.add-param-block {
  padding: 30px 0 30px 10px;
}
.add-param-block label {
  width: auto;
}
.add-param-block select,
.add-param-block .btn {
  border-radius: 25px;
}
.add-param-block .dropdown.bootstrap-select {
  width: 60% !important;
}
.add-param-block .param-add {
  display: inline-block;
  text-align: center;
  margin-left: 5px;
}
.add-param-block .param-add span {
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3);
  padding: 13px 20px;
  font-weight: bold;
  display: inline-block;
  background: #1A233B;
  color: #6A7687;
  cursor: pointer;
  border-radius: 25px;
  transition: all 0.4s ease;
  position: relative;
  top: 2px;
}
.add-param-block .param-add span:hover {
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.5);
}
.options-block {
  position: relative;
  width: 48%;
  float: left;
  margin-right: 20px;
}
.options-block:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  opacity: 0.3;
  background: #6A7687;
}
.options-block .options-body {
  display: none;
}
.options-block .options-body input {
  margin-bottom: 20px;
}
.options-block .options-body .param-fields input,
.options-block .options-body .param-fields select,
.options-block .options-body .param-fields button,
.options-block .options-body .param-fields .dropdown.bootstrap-select {
  margin-bottom: 0;
  width: 100% !important;
}
.options-block .options-body .param-fields .btn {
  padding: 5px 8px;
}
.options-block .options-body .param-fields .dropdown.bootstrap-select button {
  padding: 10px 15px;
}
.options-block .options-head {
  position: relative;
  font-weight: bold;
  padding: 10px 110px 10px 50px;
  text-transform: capitalize;
}
.options-block .options-head .remove-option,
.options-block .options-head .remove-param {
  position: absolute;
  right: 10px;
  width: 34px;
  height: 34px;
  cursor: pointer;
  color: #6A7687;
  text-align: center;
}
.options-block .options-head .remove-option:before,
.options-block .options-head .remove-param:before {
  content: '\f00d';
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  text-decoration: inherit;
}
.options-block .options-head:after {
  transition: all 0.3s ease;
  border: 0 none;
  content: '\f054';
  transform: rotate(90deg);
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  font-size: 16px;
  color: #6A7687;
  display: inline-block;
  position: absolute;
  left: 10px;
}
.options-block.active_block .options-head:after {
  transform: rotate(-90deg);
}
.options-tabs {
  position: relative;
}
.options-tabs .titles-options {
  position: relative;
}
.options-tabs .titles-options .opt-head {
  display: inline-block;
  padding: 10px 40px 10px 40px;
  border: 1px solid #6A7687;
  border-radius: 25px 25px 0 0;
  position: relative;
  margin-bottom: -1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: #161828;
  margin-right: 5px;
}
.options-tabs .titles-options .opt-head.active-tab-head {
  border-bottom: 0 none;
  background: #10111B;
}
.options-tabs .titles-options .opt-head.active-tab-head:after {
  content: '';
  bottom: -2px;
  left: 0;
  right: 0;
  height: 3px;
  background: #10111B;
  position: absolute;
}
.options-tabs .opt-body {
  display: none;
  border: 1px solid #6A7687;
  padding: 20px;
  border-radius: 0 25px 25px 25px;
}
.options-tabs .opt-body .param-fields input,
.options-tabs .opt-body .param-fields select,
.options-tabs .opt-body .param-fields button,
.options-tabs .opt-body .param-fields .dropdown.bootstrap-select {
  margin-bottom: 0;
  width: 100% !important;
}
.options-tabs .opt-body .param-fields .bootstrap-select > select {
  width: 0.5px !important;
}
.options-tabs .opt-body .param-fields .btn {
  padding: 5px 8px;
}
.options-tabs .opt-body .param-fields .dropdown.bootstrap-select button {
  padding: 10px 15px;
}
.options-tabs .opt-body input {
  margin-bottom: 20px;
}
.options-tabs .opt-body.active-tab-body {
  display: block;
}
.newOptions {
  margin: 20px 0;
}
.newOptions .title {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 15px;
}
.newOptions .btn {
  border-radius: 25px;
}
.newOptions .option-list {
  width: 300px;
  padding: 10px;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3);
  display: inline-block;
}
.newOptions .option-add {
  display: inline-block;
  text-align: center;
  margin-left: 5px;
}
.newOptions .option-add span {
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3);
  padding: 13px 20px;
  font-weight: bold;
  display: inline-block;
  background: #1A233B;
  color: #6A7687;
  cursor: pointer;
  border-radius: 25px;
  transition: all 0.4s ease;
  position: relative;
  top: 2px;
}
.newOptions .option-add span:hover {
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.5);
}
.products-list-table form {
  display: inline-block;
  padding-right: 15px;
}
::-webkit-scrollbar-button {
  background-image: url(../Less/'');
  background-repeat: no-repeat;
  width: 5px;
  height: 0px;
}
::-webkit-scrollbar-track {
  background-color: #1A233B;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  border-radius: 5px;
  background-color: #6A7687;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #6D94C4;
}
::-webkit-resizer {
  background-image: url(../Less/'');
  background-repeat: no-repeat;
  width: 8px;
  height: 0px;
}
::-webkit-scrollbar {
  width: 8px;
}
.header-login {
  border-bottom: 1px solid #1A233B;
  padding: 15px 20px;
}
.panel-login {
  margin: 5% auto 0;
  text-align: center;
}
.panel-login .panel-heading h3 {
  margin: 0;
}
.panel-login .panel-body {
  margin: 0 auto;
}
.panel-login .form-group {
  margin-bottom: 15px;
}
.panel-login .input-validation-error {
  border-color: #C03F3F;
}
.panel-login .validation-summary-errors {
  margin: 20px;
}
.panel-login .validation-summary-errors ul {
  list-style: none;
}
.panel-login .validation-summary-errors ul li {
  color: #C03F3F;
}
.panel-login input[type="submit"] {
  cursor: pointer;
  margin-top: 10px;
}
.panel-login label {
  width: 100%;
  text-align: left;
  padding: 0 20px 10px;
  position: relative;
}
.panel-login label:after {
  content: '*';
}
.panel-login input {
  width: 100%;
  padding: 12px 20px;
}
@media only screen and (min-width: 800px) {
  .panel-login {
    max-width: 700px;
  }
}