@model HtmlBlocksChild

<div class="@Model.Cssclass">
    @if (!String.IsNullOrEmpty(Model.Image))
    {
        <div class="image"><img alt=@Model.Title src=@Model.Image /></div>
    }
    @if (!String.IsNullOrEmpty(Model.Title))
    {
        <div class="title">@Model.Title</div>
    }
    @if (!String.IsNullOrEmpty(Model.Text))
    {
<div class="text">@Html.Raw(HttpUtility.HtmlDecode(@Model.Text)) </div>
    }
</div>
