
<h1>Products</h1>
<div class="btns"> <input type="button" value="Добавить" class="btn btn-default" /> </div>

<div class="table-products">
    <div class="table-head">
        <div class="table-row">Name</div>
        <div class="table-row"></div>
    </div>
    <div class="table-tr">
        <div class="table-name">Name example</div>
        <div class="table-btns">
            <button class="btn btn-sm btn-primary">edit</button>
            <button class="btn btn-sm btn-danger">delete</button>
        </div>
    </div>
</div>