@model ProductOption



<div class="option">
    <label class="control-label"> @Model.OptionName </label>
    <div class="parent-box">
        <select class="form-control">
            @foreach (var OptionParams in Model.ProductOptionParams)
            {
                <option>
                    @OptionParams.ParameterName
                    <span class="opt-price">+(<span>@OptionParams.ParameterPrice</span>)</span>
                </option>
            }
        </select>
    </div>
    @*@if (Model.ChildOption != null)
    {
        <div class="child-box" style="margin-left:15px;">
            @await Component.InvokeAsync("Option", new { OptionId = Model.ChildOption.OptionId, ParamParentId = OptionParams.ParameterId })
        </div>
    }*@
</div>
        
